{% extends 'AwFrontendTemplateBundle::base.html.twig' %}
{% block section_one %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td colspan="6" class="image">1. Dominio</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart_product">
                                {{ form_widget(form.register) }}
                                {{ form_widget(form.own_domain) }}
                                {{ form_widget(form.custom_domain) }}
                                {{ form_widget(form.tld) }}

                            </td>
                            <td>
                                <input type="text">
                                <input type="text">
                                <select>
                                    <option value="com">com</option>
                                    <option value="org">org</option>
                                    <option value="net">net</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td colspan="6" class="image">2. Seleccionar el tipo de hosting</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="cart_product">
                            {{ form_widget(form.hostingplan, { 'class': 'foobar' }) }}
                            {{ form_rest(form) }}
                            <select>
                                <option value="com">Basico</option>
                                <option value="org">Estandar</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td colspan="6" class="image">3. M&eacute;dio de Pago</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="cart_product">
                            <input type="radio" name="sex" value="male" checked> Paypal<br>
                            <input type="radio" name="sex" value="female"> Pago en Efectivo
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td colspan="6" class="image">4. Datos de Usuario</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="table-responsive cart_info">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr class="cart_menu">
                                        <td colspan="6" class="image">No tengo una cuenta</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="cart_product">
                                            Nombre <input type="text"><br>
                                            Apellido <input type="text"><br>
                                            Dirección <input type="text"><br>
                                            Correo <input type="text">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td>
                            <div class="table-responsive cart_info">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr class="cart_menu">
                                        <td colspan="6" class="image">No tengo una cuenta</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="cart_product">
                                            Usuario <input type="text"><br>
                                            Contraseña <input type="text"><br>
                                            <button>Ingresar</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section> <!--/#cart_items-->
{% endblock section_one %}
{% block section_two %}
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <li>
                                <input type="checkbox">
                                <label>Use Coupon Code</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Use Gift Voucher</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Estimate Shipping & Taxes</label>
                            </li>
                        </ul>
                        <ul class="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>Zip Code:</label>
                                <input type="text">
                            </li>
                        </ul>
                        <a class="btn btn-default update" href="">Get Quotes</a>
                        <a class="btn btn-default check_out" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>$59</span></li>
                            <li>Eco Tax <span>$2</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>$61</span></li>
                        </ul>
                        <a class="btn btn-default update" href="">Update</a>
                        <a class="btn btn-default check_out" href="">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
{% endblock section_two %}
