{% extends 'AwFrontendTemplateBundle::base.html.twig' %}

{% block custom_stylesheets %}
    <link href="{{ asset('bundles/awfrontendtemplate/main/custom_order.css') }}" rel="stylesheet">
    <style>
        .cart_product_table
        {
            margin-right: 70px;
            width: 700px;
        }

        .check_out
        {
            margin-top: 2px;
            background-color: #003366;
        }

        div.error span
        {
            color: #FF0000;
        }

        #domain_cost, #hosting_cost, #total_to_pay, .currency
        {
            color: #003366;
            font-size: 25px;
        }
    </style>
{% endblock custom_stylesheets %}

{% block section_one %}
{{ dump(hosting_prices) }}
    <form action="{{ path('frontend_cart_proccess_domainandhosting') }}" novalidate method="post">
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Inicio</a></li>
                    <li class="active">Carrito de Compra</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td colspan="6" class="image">1. Dominio</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart_product_table">
                                <div class="error">{{ form_errors(form.custom_domain) }}</div>
                                <div>
                                    {{ form_widget(form.register) }}
                                </div>
                                <div id="custom_domain_tld">
                                    <div id="custom_domain">
                                        {{ form_widget(form.custom_domain) }}
                                    </div>
                                    <div id="owner_domain">
                                        {{ form_widget(form.own_domain) }}
                                    </div>
                                    <div id="custom_tld">
                                        {{ form_widget(form.tld) }}
                                    </div>
<!--
                                    <div>
                                        <button id="verify_button" type="button" class="btn btn-default check_out" >Verificar</button>
                                    </div>
-->
                                </div>
                            </td>
                            <td><span class="currency">$</span><span id="domain_cost">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                        <tr class="cart_menu">
                            <td colspan="6" class="image">2. Seleccionar el tipo de hosting</td>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="cart_product_table">
                            {{ form_widget(form.hostingplan) }}
                        </td>
                        <td>
                            <span class="currency">$</span><span id="hosting_cost">0</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td colspan="6" class="image">3. M&eacute;dio de Pago</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="cart_product_table">
                            {{ form_widget(form.payment) }}
                        </td>
                        <td><span class="currency">Total a pagar:  $</span><span id="total_to_pay">0</span></td>
                    </tr>
                    <tr>
                        <td>
                            Datos
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td colspan="6" class="image">4. Usuario</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="cart_product_table">
                            {{ form_widget(form.clientregister) }}
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive cart_info">
            </div>
        </div>
    </section> <!--/#cart_items-->
{% endblock section_one %}
{% block section_two %}
    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>Autenticaci&oacute;n</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
            </div>
            <div class="row">
                <div id="exits_client" class="col-sm-12">
                    <div class="total_area">
                        <div class="login_area">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.password) }}
                        </div>
                    </div>
                </div>
                <div id="new_client" class="col-sm-12">
                    <div class="total_area">
                        <div class="login_area">
                            {{ form_row(form.register_username) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.register_password) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.register_retype_password) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.name) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.company) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.address_line_1) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.address_line_2) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.country) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.zipcode) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.phone_cc) }}
                        </div>
                        <div class="login_area">
                            {{ form_row(form.phone) }}
                        </div>
                        {{ form_rest(form) }}
<!--
                        <ul>
                            <li>Cart Sub Total <span>$59</span></li>
                            <li>Eco Tax <span>$2</span></li>
                            <li>Shipping Cost <span>Free</span></li>
                            <li>Total <span>$61</span></li>
                        </ul>
-->
                    </div>
                </div>
                <button class="btn btn-default check_out">Enviar</button>
            </div>
        </div>
    </section><!--/#do_action-->
    </form>
{% endblock section_two %}

{% block customscript %}
<script>
    function clientregister()
    {
        if($("input:radio[name='frontend_order[clientregister]']:checked").val() == 1) {
            $("#new_client").hide();
            $("#exits_client").show();
        }

        if($("input:radio[name='frontend_order[clientregister]']:checked").val() == 2) {
            $("#exits_client").hide();
            $("#new_client").show();
        }
    }

    function domainregister()
    {
        if($("input:radio[name='frontend_order[register]']:checked").val() == 1) {
            $("#frontend_order_own_domain").hide();
            $("#frontend_order_custom_domain").show();
            $("#verify_button").show();
            $("#frontend_order_tld").show();

            domain_price();
        }

        if($("input:radio[name='frontend_order[register]']:checked").val() == 2) {
            $("#frontend_order_own_domain").show();
            $("#frontend_order_custom_domain").hide();
            $("#verify_button").hide();
            $("#frontend_order_tld").hide();

            $("#domain_cost").text('0.00')
        }
    }

    function paymethod()
    {
        if($("input:radio[name='frontend_order[payment]']:checked").val() == 1) {
        }

        if($("input:radio[name='frontend_order[payment]']:checked").val() == 2) {
        }

    }

    function total_to_pay()
    {
        $("#total_to_pay").text((parseInt($("#domain_cost").text()) + parseInt($("#hosting_cost").text())).toFixed(2));
    }

    function domain_price()
    {
        $.each({{ domain_prices | raw }}, function(index, value) {
            var id = $("#frontend_order_tld option:selected").val();
            if (value['id'] == id) {
                $("#domain_cost").text(value['price']);
            }
        });
        total_to_pay();
    }

    function hosting_price()
    {
        $.each({{ hosting_prices | raw }}, function(index, value) {
            var id = $("#frontend_order_hostingplan option:selected").val();
            if (value['id'] == id) {
                $("#hosting_cost").text(value['price']);
            }
        });
        total_to_pay();
    }

    function init()
    {
        domainregister();
        clientregister();
        hosting_price();
    }

    $( document ).ready(function() {
        $("input:radio[name='frontend_order[register]']").on("change", function() {
            domainregister();
        });

        $("input:radio[name='frontend_order[clientregister]']").on("change", function() {
            clientregister();
        });

        $('#frontend_order_tld').on("change", function(){
            domain_price();
        });

        $('#frontend_order_hostingplan').on("change", function(){
            hosting_price();
        });

        init();
    });
</script>
{% endblock %}