<div class="row">
    {{ form_label(form_contact.name) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.name) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.company) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.company) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.email) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.email) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.address_line_1) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.address_line_1) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.address_line_2) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.address_line_2) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.city) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.city) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.country) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.country) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.zipcode) }}
    <div class="col-md-7">
        {{ form_widget(form_contact.zipcode) }}
    </div>
</div>
<div class="row">
    {{ form_label(form_contact.phone) }}
    <div class="col-md-2">
        {{ form_widget(form_contact.phone_cc) }}
    </div>
    <div class="col-md-5">
        {{ form_widget(form_contact.phone) }}
    </div>
</div>
